<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/1_Pivot_With_Case_Statements/2_Statistical_Aggregations.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Statistical Aggregations

## Overview

### ü•Ö Analysis Goals

- **Analyze average, median, minimum, and maximum net revenue**:
Examine central tendency and revenue extremes to understand category performance and distribution patterns.
- **Compare these metrics for 2022 and 2023**:
Highlight changes in category revenue to identify growth, decline, or stability over time.

### üìò Concepts Covered

- `AVG`
- `MIN`
- `MAX`
- Median with `PERCENTILE_CONT`

[Source Documentation on Aggregate Functions.](https://www.postgresql.org/docs/9.5/functions-aggregate.html)

---

In [1]:
import sys
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---
## Pivot with Statistical Aggregation Functions

### üìù¬†Notes

You can also pivot with other statistical aggregate functions though it's not used as frequently as `SUM` or `COUNT`. Example: We'll pivot the values by the average, minimum, and maximum in our **SUM with Case When** query below. Essentially we'll replace `SUM` with `AVG`, `MIN`, and `MAX`.

#### Aggregation Review
- **Average:** The sum of all values divided by the total number of values.  
- **Minimum:** The smallest value in a dataset.  
- **Maximum:** The largest value in a dataset.  

#### Syntax

```sql
# SELECT
#     column_name,
#     AVG(CASE WHEN column1 = 'value1' THEN column2 END) AS avg_value1,
#     AVG(CASE WHEN column1 = 'value2' THEN column2 END) AS avg_value2
# FROM
#     table_name
# GROUP BY
#     column_name;
```

#### More Aggregations

[Source Documentation on Aggregate Functions.](https://www.postgresql.org/docs/9.5/functions-aggregate.html)

There are other aggregate functions you can pivot by but we won't be going into depth in this course. Below are the others you can use (some may not work depending on the SQL language you're using):

- `VARIANCE`  
- `VAR_POP`  
- `VAR_SAMP`  
- `STDDEV`  
- `STDDEV_POP`  
- `STDDEV_SAMP`  
- `ARRAY_AGG`  
- `STRING_AGG`  
- `BOOL_AND`  
- `BOOL_OR`  

### üìà Analysis

- Find the average, minimum, and maximum net revenue by category for 2023 and 2022. This helps us examine central tendency and revenue extremes to understand category performance and distribution patterns.

#### Average Net Revenue by Category

**`AVG`**

1. Find the average net revenue for 2022 vs 2023 by category.

   - Join the `sales` table (`s`) with the `product` table (`p`) on `productkey`.
   - Use `CASE WHEN` to calculate the net revenue only for 2022 and 2023:
     - For 2022, include sales where `orderdate` is between `2022-01-01` and `2022-12-31`.
     - For 2023, include sales where `orderdate` is between `2023-01-01` and `2023-12-31`.
   - Use `AVG` to calculate the average net revenue for each year.
   - Group the data by `categoryname` to get average revenue by category.
   - Order the results alphabetically by `categoryname`.

In [ ]:
%%sql

SELECT
    p.categoryname AS category,
    AVG(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2022,
    AVG(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS avg_net_revenue_2023
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_avg_sale  y2023_avg_sale
0                          Audio          392.30          425.38
1        Cameras and camcorders          1210.02         1210.96
2                    Cell phones          722.20          623.28
3                      Computers         1565.62         1292.39
4                 Games and Toys           81.29           80.83
5                Home Appliances         1755.36         1886.55
6  Music, Movies and Audio Books          386.61          334.58
7                   TV and Video         1535.61         1687.90

#### Minimum Net Revenue by Category

**`MIN`**

1. Find the minimum net revenue for 2022 vs 2023 by category.

   - Join the `sales` table (`s`) with the `product` table (`p`) on `productkey`.
   - Use `CASE WHEN` to calculate the net revenue only for 2022 and 2023:
     - For 2022, include sales where `orderdate` is between `2022-01-01` and `2022-12-31`.
     - For 2023, include sales where `orderdate` is between `2023-01-01` and `2023-12-31`.
   - üîî Use `MIN` to calculate the minimum net revenue for each year.
   - Group the data by `categoryname` to get minimum revenue by category.
   - Order the results alphabetically by `categoryname`.

In [ ]:
%%sql

SELECT
    p.categoryname AS category,
    MIN(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS min_net_revenue_2022,
    MIN(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS min_net_revenue_2023
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_min_sale  y2023_min_sale
0                          Audio            9.31           10.85
1        Cameras and camcorders             6.74            5.98
2                    Cell phones            2.53            2.28
3                      Computers            0.83            0.75
4                 Games and Toys            2.83            3.49
5                Home Appliances            4.04            4.54
6  Music, Movies and Audio Books            7.29            6.91
7                   TV and Video           41.30           42.30

#### Maximum Net Revenue by Category

**`MAX`**

1. Find the maximum net revenue for 2022 vs 2023 by category.

   - Join the `sales` table (`s`) with the `product` table (`p`) on `productkey`.
   - Use `CASE WHEN` to calculate the net revenue only for 2022 and 2023:
     - For 2022, include sales where `orderdate` is between `2022-01-01` and `2022-12-31`.
     - For 2023, include sales where `orderdate` is between `2023-01-01` and `2023-12-31`.
   - üîî Use `MAX` to calculate the maximum net revenue for each year.
   - Group the data by `categoryname` to get maximum revenue by category.
   - Order the results alphabetically by `categoryname`.

In [ ]:
%%sql

SELECT
    p.categoryname AS category,
    MAX(CASE WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS max_net_revenue_2022,
    MAX(CASE WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate) END) AS max_net_revenue_2022
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_max_sale  y2023_max_sale
0                          Audio         3473.36         2730.87
1        Cameras and camcorders         15008.39        13572.00
2                    Cell phones         7692.37         8912.22
3                      Computers        38082.66        27611.60
4                 Games and Toys         5202.01         3357.30
5                Home Appliances        31654.55        32915.59
6  Music, Movies and Audio Books         5415.19         3804.91
7                   TV and Video        30259.41        27503.12

---
## Pivot with Median

### üìù¬†Notes

#### Review
The median is the middle number if you sort the values in a set from low to high.

**For example:**
> <img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.2_Finding_the_median.png?raw=1" alt="Median Example" width="50%">

### Median in Different Databases
- PostgreSQL ‚Üí Use `PERCENTILE_CONT(0.5)`
- SQL Server ‚Üí Use `PERCENTILE_CONT(0.5)`
- MySQL ‚Üí No native `MEDIAN()`, requires subqueries or window functions
- SQLite ‚Üí No built-in `MEDIAN()`, requires custom logic
- MariaDB ‚Üí No built-in `MEDIAN()`, requires custom approach

#### Calculate Median in PostgreSQL

`PERCENTILE_CONT`

- **`PERCENTILE_CONT`** calculates a percentile (e.g., 25th, 50th, 75th) by estimating values between sorted data points.  
- Syntax:
  ```sql
  SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY column_name) AS median
  FROM table_name
  WHERE column_name IS NOT NULL;
  ```
- Note: Some SQL languages may have a dedicated `MEDIAN()` function, but PostgreSQL doesn't.

### üíª¬†Analysis

- Find the median net revenue for 2023 and 2022 by category. Which helps highlight changes in category revenue to identify growth, decline, or stability over time.

#### Median Net Revenue by Category

**`PERCENTILE_CONT`**, **`WITHIN GROUP`**

1. Find the median for net revenue in 2022 - 2023.
   - Use the `PERCENTILE_CONT(0.5)` function to calculate the median value (50th percentile) of `net revenue` in the specified date range.
   - Define `net revenue` as the product of `quantity`, `netprice`, and `exchangerate`.
   - Filter rows in the `WHERE` clause where `orderdate` is between `2022-01-01` and `2023-12-31`.

> #### Why You Need `WITHIN GROUP (ORDER BY ‚Ä¶)`
>
> `PERCENTILE_CONT(0.5)` is not a regular aggregate function‚Äîit's an ordered-set aggregate. This means:
>
> - It requires values to be ordered within a specific grouping.
> - Instead of reducing all values into a single result (like AVG()), it computes a percentile based on ordering.
>
> Unlike regular aggregates, `PERCENTILE_CONT()` needs explicit ordering of the column‚Äôs values. That‚Äôs why you must include:

In [ ]:
%%sql

SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (quantity * netprice * exchangerate)) AS median
FROM
    sales
WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median
0  398.00

2. Find the median net revenue for 2022 vs 2023 by category.

   - Join the `sales` table (`s`) with the `product` table (`p`) on `productkey`.
   - Use `PERCENTILE_CONT(0.5)` to calculate the median for each year within categories:
     - For 2022, include `net revenue` where `orderdate` is between `2022-01-01` and `2022-12-31`.
     - For 2023, include `net revenue` where `orderdate` is between `2023-01-01` and `2023-12-31`.
   - Use `CASE WHEN` to separate calculations for 2022 and 2023.
   - Group the data by `categoryname` to calculate medians for each category.
   - Order the results alphabetically by `categoryname`.

In [ ]:
%%sql

SELECT
    p.categoryname AS category,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE
        WHEN s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN (s.quantity * s.netprice * s.exchangerate)
    END)) AS y2022_median_sales,
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE
        WHEN s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN (s.quantity * s.netprice * s.exchangerate)
    END)) AS y2023_median_sales
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  y2022_median_sales  y2023_median_sales
0                          Audio              257.21              266.59
1        Cameras and camcorders               651.46              672.60
2                    Cell phones              418.60              375.88
3                      Computers              809.70              657.18
4                 Games and Toys               33.78               32.62
5                Home Appliances              791.00              825.25
6  Music, Movies and Audio Books              186.58              159.63
7                   TV and Video              730.46              790.79

<img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.2_category_median.png?raw=1" alt="Median" width="50%">

In [12]:
##Continent Revenue Statistics (1.2.1) - Problem
##Determine the average, minimum, and maximum net revenue for each continent for the year 2022. This will help in understanding the revenue performance across different continents.

%%sql

SELECT
  c.continent,
  AVG (s.netprice * s.quantity * s.exchangerate) as avg_rev,
  MIN (s.netprice * s.quantity * s.exchangerate) as min_rev,
  MAX (s.netprice * s.quantity * s.exchangerate) as max_rev

FROM sales s
LEFT JOIN customer c
ON s.customerkey = c.customerkey

WHERE EXTRACT ( YEAR FROM s.orderdate) = 2022
GROUP BY c.continent
ORDER BY c.continent
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

       continent  avg_rev  min_rev  max_rev
0      Australia  1336.18     4.54 24182.95
1         Europe   860.21     1.68 25725.87
2  North America   999.22     0.83 38082.66

In [14]:
##Average Revenue by Store Size (1.2.2) - Problem
##Calculate the average net revenue generated by each categoryname for small, medium, and large stores. This will help in understanding the revenue contribution from different store sizes.
    ##Define store sizes as: small (<1000 square meters), medium (1000-2000 square meters), and large (>2000 square meters).
    ##Group the results by categoryname to aggregate the revenue per category.

%%sql

SELECT
  p.categoryname,
  AVG (CASE WHEN st.squaremeters <1000 THEN (s.netprice * s.quantity * s.exchangerate) END ) as small,
  AVG (CASE WHEN st.squaremeters BETWEEN 1000 AND 2000 THEN (s.netprice * s.quantity * s.exchangerate) END ) as medium,
  AVG (CASE WHEN st.squaremeters >2000 THEN (s.netprice * s.quantity * s.exchangerate) END ) as large

FROM sales s
LEFT JOIN product p
ON s.productkey = p.productkey
LEFT JOIN store st
ON s.storekey = st.storekey

GROUP BY p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                    categoryname   small  medium   large
0                          Audio  329.00  336.86  347.52
1        Cameras and camcorders  1392.44 1391.82 1600.37
2                    Cell phones  778.91  821.71  853.67
3                      Computers 1974.16 2119.08 2259.95
4                 Games and Toys   83.72   82.48   84.00
5                Home Appliances 1390.73 1522.02 1522.81
6  Music, Movies and Audio Books  301.18  318.26  332.62
7                   TV and Video 1479.13 1412.76 1532.97

In [17]:
##Maximum Revenue by 2023 Quarter (1.2.3) - Problem
##Determine the maximum net revenue generated by each country for each quarter in 2023. This will help in understanding the highest revenue performance across countries for specific periods.
##
    #Use MAX with CASE WHEN to calculate the net revenue for each date range.
    #Define date ranges as: Q1 (January to March), Q2 (April to June), Q3 (July to September), and Q4 (October to December).
    #Group the results by country.

%%sql

SELECT
  st.countryname,
  MAX (CASE WHEN EXTRACT (Quarter from s.orderdate) = 1 THEN (s.netprice*s.quantity*s.exchangerate) END) as Q1,
  MAX (CASE WHEN EXTRACT (Quarter from s.orderdate) = 2 THEN (s.netprice*s.quantity*s.exchangerate) END) as Q2,
  MAX (CASE WHEN EXTRACT (Quarter from s.orderdate) = 3 THEN (s.netprice*s.quantity*s.exchangerate) END) as Q3,
  MAX (CASE WHEN EXTRACT (Quarter from s.orderdate) = 4 THEN (s.netprice*s.quantity*s.exchangerate) END) as Q4

FROM sales s
LEFT JOIN store st
ON s.storekey = st.storekey

WHERE EXTRACT (YEAR from s.orderdate) = 2023

GROUP BY st.countryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

      countryname       q1       q2       q3       q4
0       Australia 14823.88 16019.39 14450.18 29075.44
1          Canada 17031.83 28264.64 19272.79 28443.09
2          France 15375.42 14358.10  8791.05  4874.25
3         Germany 25772.22 19249.54 17350.34 13970.46
4           Italy 13170.85  8830.23 12268.68  7821.64
5     Netherlands 18137.03  4814.97  7997.02  7536.78
6          Online 25424.67 27503.12 27611.60 32915.59
7  United Kingdom 15582.22 18072.26 10441.45  9099.10
8   United States 18564.00 26679.91 17493.00 20655.00

In [21]:
##Median Revenue by Age Group (1.2.4) - Problem
##Calculate the median net revenue for different age groups across various countries. This will help in understanding the spending patterns of different age demographics.

    #Define age groups as: Young (< 30), Middle-aged (30-50), and Senior (> 50).
    #Group the results by countryname from the store table to see the median revenue for each age group in each country.

%%sql

SELECT
  st.countryname,
  PERCENTILE_CONT (0.5) WITHIN GROUP (ORDER BY (CASE WHEN c.age < 30 THEN (s.netprice*s.quantity*s.exchangerate) ELSE NULL END)) as young_median_revenue,
  PERCENTILE_CONT (0.5) WITHIN GROUP (ORDER BY (CASE WHEN c.age BETWEEN 30 AND 50 THEN (s.netprice*s.quantity*s.exchangerate) ELSE NULL END)) as middle_aged_median_revenue,
  PERCENTILE_CONT (0.5) WITHIN GROUP (ORDER BY (CASE WHEN c.age > 50 THEN (s.netprice*s.quantity*s.exchangerate) ELSE NULL END)) as senior_median_revenue

FROM sales s
LEFT JOIN customer c
ON s.customerkey = c.customerkey
LEFT JOIN store st
ON s.storekey = st.storekey

GROUP BY st.countryname
ORDER BY st.countryname;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

9 rows affected.

,countryname,young_median_revenue,middle_aged_median_revenue,senior_median_revenue
0,Australia,589.32,556.49,608.88
1,Canada,515.31,560.68,530.06
2,France,332.01,367.02,377.58
3,Germany,342.64,363.95,344.88
4,Italy,395.01,343.75,343.18
5,Netherlands,344.43,392.51,344.05
6,Online,399.99,392.38,399.84
7,United Kingdom,309.04,296.78,317.01
8,United States,404.62,404.97,400.49

In [9]:
%%sql

SELECT *
FROM sales
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00

In [13]:
%%sql

SELECT *
FROM product
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,productkey,productcode,productname,manufacturer,brand,color,weightunit,weight,cost,price,categorykey,categoryname,subcategorykey,subcategoryname
0,1,101001,Contoso 512MB MP3 Player E51 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.80,6.62,12.99,1,Audio,101,MP4&MP3
1,2,101002,Contoso 512MB MP3 Player E51 Blue,"Contoso, Ltd",Contoso,Blue,ounces,4.10,6.62,12.99,1,Audio,101,MP4&MP3
2,3,101003,Contoso 1G MP3 Player E100 White,"Contoso, Ltd",Contoso,White,ounces,4.50,7.40,14.52,1,Audio,101,MP4&MP3
3,4,101004,Contoso 2G MP3 Player E200 Silver,"Contoso, Ltd",Contoso,Silver,ounces,4.50,11.00,21.57,1,Audio,101,MP4&MP3
4,5,101005,Contoso 2G MP3 Player E200 Red,"Contoso, Ltd",Contoso,Red,ounces,2.40,11.00,21.57,1,Audio,101,MP4&MP3

In [3]:
%%sql

SELECT *
FROM customer
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14

In [5]:
%%sql

SELECT *
FROM store
LIMIT 5;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

5 rows affected.

,storekey,storecode,geoareakey,countrycode,countryname,state,opendate,closedate,description,squaremeters,status
0,10,1,1,AU,Australia,Australian Capital Territory,2008-01-01,None,Contoso Store Australian Capital Territory,595.00,None
1,20,2,3,AU,Australia,Northern Territory,2008-01-12,2016-07-07,Contoso Store Northern Territory,665.00,Closed
2,30,3,5,AU,Australia,South Australia,2012-01-07,2015-08-08,Contoso Store South Australia,2000.00,Restructured
3,35,3,5,AU,Australia,South Australia,2015-12-08,None,Contoso Store South Australia,3000.00,None
4,40,4,6,AU,Australia,Tasmania,2010-01-01,None,Contoso Store Tasmania,2000.00,None