<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/1_Pivot_With_Case_Statements/3_Advanced_Segmentation.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Advanced Segmentation

## Overview

### 🥅 Analysis Goals

- **📊 Revenue Tiers with Percentiles:** Segment sales into **Low, Medium, and High** based on the **25th (Q1) and 75th (Q3) percentiles** to establish meaningful thresholds for performance evaluation.
- **📈 Revenue Aggregation by Category & Tier:** Evaluate how different categories contribute to total sales by **aggregating revenue within each tier**.

### 📘 Concepts Covered

- Pivot with multiple different aggregations
- Pivots with `AND` in a `CASE WHEN` Condition
- Pivoting with Multiple `WHEN` Clauses in a Single `CASE` Block

---

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

---

## Using AND in a CASE WHEN Condition

### 📝 Notes

**`AND` in a `CASE WHEN` condition** is used to combine multiple criteria that must all be true for the condition to apply. This allows for more specific filtering within a single `CASE` block.

- **Syntax**:

    ```sql
    SELECT
      CASE
        WHEN condition1 AND condition2 THEN column
      END AS alias
    FROM table_name;
    ```

- **Example**:

Using `AND` in a `CASE WHEN` condition to categorize:
- "High Value Order" if `quantity >= 2` and `netprice >= 50`
- "Standard Order" otherwise

In [ ]:
%%sql

SELECT
    orderdate,
    quantity,
    netprice,
    CASE
        WHEN quantity >= 2 AND netprice >= 50 THEN 'High Value Order'
        ELSE 'Standard Order'
    END AS order_type
FROM sales
ORDER BY orderdate
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice        order_type
0  2015-01-01         1    659.78    Standard Order
1  2015-01-01         2     54.38  High Value Order
2  2015-01-01         4    286.69  High Value Order
3  2015-01-01         7    135.75  High Value Order
4  2015-01-01         3    434.30  High Value Order
5  2015-01-01         1     58.73    Standard Order
6  2015-01-01         3     74.99  High Value Order
7  2015-01-01         2    113.57  High Value Order
8  2015-01-01         1    499.45    Standard Order
9  2015-01-01         1     98.97    Standard Order

### 📈 Analysis

- Categorizing net revenue into "low" and "high" using the median ensures meaningful divisions based on the actual data, instead of guessing.

#### Categorize as Low and High for Total Net Revenue

**`SUM`**, **`CASE WHEN`**, **`PERCENTILE_CONT`**

1. Use `PERCENTILE_CONT` to find the median net revenue between 2022 and 2023.  
    - Calculate the median by specifying `PERCENTILE_CONT(0.5)` within a `WITHIN GROUP (ORDER BY)` clause.  
    - Multiply `quantity`, `netprice`, and `exchangerate` to determine net revenue for each row.  
    - Filter the `sales` table for `orderdate` values between January 1, 2022, and December 31, 2023.

In [ ]:
%%sql

SELECT
    PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
FROM
    sales s
WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   median
0  398.00

2. Calculate total net revenue by category and categorize it into "low" and "high" based on the median.   
    - 🔔 Aggregate total net revenue for each category using `SUM`.  
    - 🔔 Classify rows as "low" or "high" using `CASE WHEN` with conditions comparing net revenue to the median value.  
        - "low" is `<` the median
        - "high" is `>=` the median
    - Filter the data for `orderdate` values between 2022 and 2023.  
    - 🔔 Group results by `categoryname` and order by category.

In [ ]:
%%sql

SELECT -- Updated
    p.categoryname AS category,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < 398
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_net_revenue,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= 398
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_net_revenue
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey --Added
WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'
GROUP BY
    category --Added
ORDER BY
    category --Added
;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

                        category  low_net_revenue  high_net_revenue
0                          Audio        402588.95        1053039.44
1        Cameras and camcorders         237874.00        4128204.85
2                    Cell phones       1544148.92       12577663.79
3                      Computers       1215130.73       28297949.97
4                 Games and Toys        438083.00         148419.27
5                Home Appliances        396058.42       12136381.13
6  Music, Movies and Audio Books       1260767.25        3909298.16
7                   TV and Video        436613.64        9790901.19

3. Add year-based filters in `CASE WHEN` to calculate "low" and "high" net revenue for 2022 and 2023 separately.  
    - 🔔 Add conditions within `CASE WHEN` to filter `orderdate` by specific years (2022 or 2023).  
    - Categorize revenue into "low" or "high" based on comparisons with the median value.  
        - "low" is `<` the median
        - "high" is `>=` the median
    - Aggregate revenue for each category and year combination using `SUM`.  
    - Group the data by `categoryname` and order by category.

In [ ]:
%%sql

SELECT
    p.categoryname AS category,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < 398
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' -- Added
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= 398
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' -- Added
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < 398
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' -- Added
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2023,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= 398
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' -- Added
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2023
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
GROUP BY
    category
ORDER BY
    category;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_revenue_2022,high_revenue_2022,low_revenue_2023,high_revenue_2023
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7305215.55,729699.39,5272448.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542998.32,164275.35,4247902.87

4. Use a CTE to calculate the median dynamically and include it in the main query.
    - 🔔 Create a CTE using `PERCENTILE_CONT(0.5)` to calculate the median dynamically for all sales between 2022 and 2023.  
    - 🔔 Reference the CTE in the `FROM` clause to make the percentile values available in the main query without hardcoding thresholds.   
    - 🔔 Replace hardcoded median thresholds in `CASE WHEN` with the dynamically calculated median from the CTE.  
    - Filter and aggregate net revenue for "low" and "high" categories by year, grouped by category.

In [ ]:
%%sql

-- Calculate the median values
WITH median_value AS (
    SELECT
        PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
    FROM sales s
    WHERE orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)

SELECT
    p.categoryname AS category,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= mv.median
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < mv.median
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2023,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= mv.median
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2023
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey,
    median_value mv  -- Alias applied here
GROUP BY
    category
ORDER BY
    category;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,low_revenue_2022,high_revenue_2022,low_revenue_2023,high_revenue_2023
0,Audio,222337.83,544600.39,180251.13,508439.06
1,Cameras and camcorders,133004.54,2249528.02,104869.46,1878676.83
2,Cell phones,814449.53,7305215.55,729699.39,5272448.24
3,Computers,624340.42,17237873.07,590790.31,11060076.90
4,Games and Toys,231979.63,84147.67,206103.36,64271.60
5,Home Appliances,219797.07,6392649.61,176261.35,5743731.52
6,"Music, Movies and Audio Books",685808.49,2303488.80,574958.76,1605809.37
7,TV and Video,272338.29,5542998.32,164275.35,4247902.87

<img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.3_Rev_Spread.png?raw=1" alt="Revenue Spread" width="50%">

<img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.3_Rev_Spread_100.png?raw=1" alt="Revenue Spread 100%" width="50%">

5. **(BONUS)** Technically, it would be more accurate to calculate the median for each category separately.
    - 🔔 Calculate the median for each category separately using `PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate))`.
    - 🔔 Use `AVG` to get a single median value for each category.
    - 🔔 Use `LEFT JOIN` to join the `category_medians` CTE to the `product` table.

In [ ]:
%%sql

WITH category_medians AS (
    SELECT
        p.categoryname,
        PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS median
    FROM sales s
    LEFT JOIN product p ON s.productkey = p.productkey
    WHERE s.orderdate BETWEEN '2022-01-01' AND '2023-12-31'
    GROUP BY p.categoryname
)

SELECT
    p.categoryname AS category,
    AVG(cm.median) AS median,  -- AVG needed to get a single median value
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < cm.median
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= cm.median
             AND s.orderdate BETWEEN '2022-01-01' AND '2022-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2022,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) < cm.median
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS low_revenue_2023,
    SUM(CASE WHEN (s.quantity * s.netprice * s.exchangerate) >= cm.median
             AND s.orderdate BETWEEN '2023-01-01' AND '2023-12-31'
        THEN (s.quantity * s.netprice * s.exchangerate) END) AS high_revenue_2023
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
    LEFT JOIN category_medians cm ON p.categoryname = cm.categoryname
GROUP BY
    p.categoryname
ORDER BY
    p.categoryname

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

8 rows affected.

,category,median,low_revenue_2022,high_revenue_2022,low_revenue_2023,high_revenue_2023
0,Audio,262.25,126838.74,640099.47,104149.73,584540.45
1,Cameras and camcorders,659.87,293581.87,2088950.69,233563.52,1749982.77
2,Cell phones,399.18,823209.90,7296455.17,738857.59,5263290.05
3,Computers,738.00,1786099.84,16076113.65,1477250.73,10173616.48
4,Games and Toys,33.12,29987.45,286139.85,26589.38,243785.58
5,Home Appliances,806.53,678256.92,5934189.76,553520.90,5366471.98
6,"Music, Movies and Audio Books",171.31,244819.89,2744477.39,218088.71,1962679.42
7,TV and Video,758.32,683842.56,5131494.05,460417.94,3951760.28

---
## Multiple WHEN Clauses in a Single CASE Block

### 📝 Notes

**Pivot with multiple `WHEN` clauses in a single `CASE` block in the same aggregation function** applies multiple `WHEN` conditions within a single aggregation, such as `COUNT`.

- Syntax:

    ```sql
    SELECT
        CASE
          WHEN condition1 THEN column
          WHEN condition2 THEN column
          ELSE column
        END AS alias
    FROM table_name;
    ```

- Example:

Using multiple `WHEN` clauses in a single `CASE` block to categorize orders based on the quantity and net price:
- "Multiple High Value Items" if `quantity >= 2` and `netprice >= 100`
- "Single High Value Item" if `netprice >= 100`
- "Multiple Standard Items" if `quantity >= 2`
- "Single Standard Item" otherwise

In [ ]:
%%sql

SELECT
    orderdate,
    quantity,
    netprice,
    CASE
        WHEN quantity >= 2 AND netprice >= 100 THEN 'Multiple High Value Items'
        WHEN netprice >= 100 THEN 'Single High Value Item'
        WHEN quantity >= 2 THEN 'Multiple Standard Items'
        ELSE 'Single Standard Item'
    END AS order_type
FROM sales
ORDER BY orderdate
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate  quantity  netprice                 order_type
0  2015-01-01         1    659.78     Single High Value Item
1  2015-01-01         2     54.38    Multiple Standard Items
2  2015-01-01         4    286.69  Multiple High Value Items
3  2015-01-01         7    135.75  Multiple High Value Items
4  2015-01-01         3    434.30  Multiple High Value Items
5  2015-01-01         1     58.73       Single Standard Item
6  2015-01-01         3     74.99    Multiple Standard Items
7  2015-01-01         2    113.57  Multiple High Value Items
8  2015-01-01         1    499.45     Single High Value Item
9  2015-01-01         1     98.97       Single Standard Item

### 📈 Analysis

- Categorize total net revenue for each product category into three tiers: low, medium, and high—based on the 25th and 75th percentiles of individual sales. This helps us separate out the sales performance by category.

#### Categorize Low, Moderate and High for Net Revenue

**`SUM`**, **`CASE WHEN`**, **`PERCENTILE_CONT`**

1. Calculate the minimum, 25th percentile (Q1), 75th percentile (Q3), and maximum for net revenue between 2022 and 2023.
    - Find the 25th and 75th percentiles for net revenue using `PERCENTILE_CONT` with `WITHIN GROUP (ORDER BY)`.
    - Filter sales data for rows where `orderdate` is between 2022-01-01, and 2023-12-31.
    - These percentiles define thresholds for "Low" (below Q1), "Medium" (Q1 to Q3), and "High" (above Q3) categories.
        - Low: Below the 25th percentile (Q1).
        - Moderate: Between the 25th and 75th percentiles (Q1 and Q3).
        - High: Above the 75th percentile (Q3).

In [ ]:
%%sql

SELECT
    PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * exchangerate)) AS net_revenue_25th_percentile,
    PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * exchangerate)) AS net_revenue_75th_percentile
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
WHERE
    orderdate BETWEEN '2022-01-01' AND '2023-12-31'
;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   net_revenue_25th_percentile  net_revenue_75th_percentile
0                       111.07                      1062.12

2. Dynamically calculate the percentiles using a CTE and incorporate them into the main query.
    - 🔔 Create a CTE (`WITH percentiles`) to calculate the 25th and 75th percentiles dynamically.  
    - 🔔 Reference the CTE in the `FROM` clause to make the percentile values available in the main query without hardcoding thresholds.  
    - 🔔 Replace static values in the `CASE` statement with percentile values from the CTE.  
    - Aggregate and categorize sales as in the previous steps while ensuring dynamic percentile usage.

In [ ]:
%%sql

-- Calculate the percentiles, ADDED
WITH percentiles AS (
    SELECT
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * exchangerate)) AS net_revenue_25th_percentile,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * exchangerate)) AS net_revenue_75th_percentile
    FROM
        sales s
    WHERE
        orderdate BETWEEN '2022-01-01' AND '2023-12-31'
)
SELECT
    p.categoryname AS category,
    CASE
        WHEN (s.quantity * s.netprice * s.exchangerate) < pctl.net_revenue_25th_percentile THEN '3 - LOW' -- Updated
        WHEN (s.quantity * s.netprice * s.exchangerate) >= pctl.net_revenue_75th_percentile THEN '1 - HIGH' -- Updated
        ELSE '2 - MEDIUM'
    END AS revenue_tier,
    SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey,
    percentiles pctl -- ADDED
GROUP BY
    category,
    revenue_tier -- ADDED
ORDER BY
    category,
    revenue_tier -- ADDED
;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

                         category revenue_tier  total_revenue
0                           Audio     1 - HIGH     1213265.71
1                           Audio   2 - MEDIUM     3832415.38
2                           Audio      3 - LOW      267217.01
3         Cameras and camcorders      1 - HIGH    15050781.63
4         Cameras and camcorders    2 - MEDIUM     3388546.10
5         Cameras and camcorders       3 - LOW       81032.92
6                     Cell phones     1 - HIGH    21874993.15
7                     Cell phones   2 - MEDIUM    10338963.22
8                     Cell phones      3 - LOW      410309.35
9                       Computers     1 - HIGH    79607760.89
10                      Computers   2 - MEDIUM    10808054.11
11                      Computers      3 - LOW      203207.06
12                 Games and Toys     1 - HIGH      133749.09
13                 Games and Toys   2 - MEDIUM     1001381.91
14                 Games and Toys      3 - LOW      533443.13
15                Home Appliances     1 - HIGH    22383475.30
16                Home Appliances   2 - MEDIUM     4118724.64
17                Home Appliances      3 - LOW      105045.60
18  Music, Movies and Audio Books     1 - HIGH     3844996.29
19  Music, Movies and Audio Books   2 - MEDIUM     6100817.99
20  Music, Movies and Audio Books      3 - LOW      642496.71
21                   TV and Video     1 - HIGH    16632856.33
22                   TV and Video   2 - MEDIUM     3766783.30
23                   TV and Video      3 - LOW       67221.76

<img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.3_Rev_Tiers_Grouped.png?raw=1" alt="Revenue Tiers Grouped" width="50%">
<img src="https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/images/1.3_Rev_Tiers_Stacked.png?raw=1" alt="Revenue Tiers Stacked" width="50%">

3. **(BONUS)** Technically, it would be more accurate to calculate the 25th and 75th percentiles for each category separately.
    - 🔔 Calculate the 25th and 75th percentiles for each category separately using `PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate))` and `PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate))`.
    - 🔔 Use `LEFT JOIN` to join the `category_percentiles` CTE to the `product` table.
    - 🔔 Group by `categoryname`, `q1_threshold`, `q3_threshold`, and `revenue_tier` for meaningful segmentation.
    - 🔔 Add `q1_threshold` and `q3_threshold` to the `GROUP BY` clause for better readability.

In [ ]:
%%sql

WITH category_percentiles AS (
    SELECT
        p.categoryname,
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS net_revenue_25th_percentile,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY (s.quantity * s.netprice * s.exchangerate)) AS net_revenue_75th_percentile
    FROM sales s
    LEFT JOIN product p ON s.productkey = p.productkey
    WHERE orderdate BETWEEN '2022-01-01' AND '2023-12-31'
    GROUP BY p.categoryname
)

SELECT
    p.categoryname AS category,
    cp.net_revenue_25th_percentile AS q1_threshold,  -- Added
    cp.net_revenue_75th_percentile AS q3_threshold,  -- Added
    CASE
        WHEN (s.quantity * s.netprice * s.exchangerate) < cp.net_revenue_25th_percentile THEN '3 - LOW' -- Updated
        WHEN (s.quantity * s.netprice * s.exchangerate) >= cp.net_revenue_75th_percentile THEN '1 - HIGH' -- Updated
        ELSE '2 - MEDIUM'
    END AS revenue_tier,
    SUM(s.quantity * s.netprice * s.exchangerate) AS total_revenue
FROM
    sales s
    LEFT JOIN product p ON s.productkey = p.productkey
    LEFT JOIN category_percentiles cp ON p.categoryname = cp.categoryname
GROUP BY
    category,
    q1_threshold,  -- Added
    q3_threshold,  -- Added
    revenue_tier
ORDER BY
    category,
    revenue_tier;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,category,q1_threshold,q3_threshold,revenue_tier,total_revenue
0,Audio,121.81,526.37,1 - HIGH,2941129.03
1,Audio,121.81,526.37,2 - MEDIUM,2050895.97
2,Audio,121.81,526.37,3 - LOW,320873.10
3,Cameras and camcorders,276.02,1536.86,1 - HIGH,13138022.15
4,Cameras and camcorders,276.02,1536.86,2 - MEDIUM,4948997.27
5,Cameras and camcorders,276.02,1536.86,3 - LOW,433341.24
6,Cell phones,116.96,949.41,1 - HIGH,23184004.60
7,Cell phones,116.96,949.41,2 - MEDIUM,9003092.56
8,Cell phones,116.96,949.41,3 - LOW,437168.56
9,Computers,294.00,1722.22,1 - HIGH,70324428.09
10,Computers,294.00,1722.22,2 - MEDIUM,19034411.27
11,Computers,294.00,1722.22,3 - LOW,1260182.69
12,Games and Toys,14.23,86.00,1 - HIGH,1242132.03
13,Games and Toys,14.23,86.00,2 - MEDIUM,384347.11
14,Games and Toys,14.23,86.00,3 - LOW,42095.00
15,Home Appliances,329.97,2032.00,1 - HIGH,18254257.41
16,Home Appliances,329.97,2032.00,2 - MEDIUM,7549804.92
17,Home Appliances,329.97,2032.00,3 - LOW,803183.21
18,"Music, Movies and Audio Books",52.92,463.92,1 - HIGH,7240385.67
19,"Music, Movies and Audio Books",52.92,463.92,2 - MEDIUM,3111159.14
20,"Music, Movies and Audio Books",52.92,463.92,3 - LOW,236766.18
21,TV and Video,329.47,1727.27,1 - HIGH,14257769.98
22,TV and Video,329.47,1727.27,2 - MEDIUM,5476831.14
23,TV and Video,329.47,1727.27,3 - LOW,732260.26

In [7]:
%%sql
SELECT *
FROM sales
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,orderkey,linenumber,orderdate,deliverydate,customerkey,storekey,productkey,quantity,unitprice,netprice,unitcost,currencycode,exchangerate
0,1000,0,2015-01-01,2015-01-01,947009,400,48,1,112.46,98.97,57.34,GBP,0.64
1,1000,1,2015-01-01,2015-01-01,947009,400,460,1,749.75,659.78,382.25,GBP,0.64
2,1001,0,2015-01-01,2015-01-01,1772036,430,1730,2,54.38,54.38,25.00,USD,1.00
3,1002,0,2015-01-01,2015-01-01,1518349,660,955,4,315.04,286.69,144.88,USD,1.00
4,1002,1,2015-01-01,2015-01-01,1518349,660,62,7,135.75,135.75,62.43,USD,1.00
5,1002,2,2015-01-01,2015-01-01,1518349,660,1050,3,499.20,434.30,229.57,USD,1.00
6,1002,3,2015-01-01,2015-01-01,1518349,660,1608,1,65.99,58.73,33.65,USD,1.00
7,1003,0,2015-01-01,2015-01-01,1317097,510,85,3,74.99,74.99,34.48,USD,1.00
8,1004,0,2015-01-01,2015-01-01,254117,80,128,2,114.72,113.57,58.49,CAD,1.16
9,1004,1,2015-01-01,2015-01-01,254117,80,2079,1,499.45,499.45,165.48,CAD,1.16

In [4]:
%%sql
SELECT *
FROM customer
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
5,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.01,152.84
6,189,7,2008-07-05,2017-11-01,Australia,female,Ms.,Hayley,C,Jull,...,3377,AU,Australia,1960-04-18,60,Sculptor,Asian Plan,2006 Alpina B5,-37.34,142.91
7,210,2,1980-09-28,2030-05-08,Australia,female,Mrs.,Natalie,L,Hilder,...,2632,AU,Australia,1950-11-23,70,Motel desk clerk,Enrich Garden Services,1995 Ford Fairlane,-36.84,149.05
8,225,7,1985-06-25,2017-09-25,Australia,male,Mr.,Hunter,J,Hutchins,...,3763,AU,Australia,1978-07-20,42,Teletype operator,Mr. Good Buys,2012 Lexus GX,-37.51,145.44
9,243,2,1982-02-07,2027-02-09,Australia,female,Ms.,Maya,J,Atherton,...,2446,AU,Australia,1954-05-15,66,Pilates instructor,Franklin Music,1995 Chevrolet Caprice,-31.36,152.39

In [30]:
%%sql
SELECT distinct weightunit
FROM product
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

4 rows affected.

  weightunit
0       None
1     pounds
2     ounces
3      grams

In [ ]:
%%sql
SELECT *
FROM state
LIMIT 10;

In [17]:
## Purchases by Age Group (1.3.1) - Problem
##Segment customers into age groups (e.g., <25, 25-44, 45+) and calculate their total purchases. This will help in understanding the purchasing behavior of different age groups.

    #Define age groups dynamically based on the provided data.
    #Calculate the total purchases for each age group.
#------------------------
#INNER JOIN used for:

    #Filtering out unmatched data: Only includes sales where there is a matching customer
    #Avoiding NULLs: Ensures c.age exists for age grouping and total calculation

%%sql

SELECT
  CASE
    WHEN c.age < 25 THEN '<25'
    WHEN c.age between 25 and 44 THEN '25-44'
    ELSE '45+'
  END as age_group,

  SUM (s.netprice * s.quantity * s.exchangerate) as total_purchases
FROM
  sales s
  INNER JOIN customer c
  ON s.customerkey = c.customerkey

GROUP BY age_group

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3 rows affected.

  age_group  total_purchases
0       <25      18868637.76
1     25-44      62515352.46
2       45+     125023548.36

In [28]:
##Customer Spending Segmentation (1.3.2) - Problem
##Classify customers based on their total spending in 2023 into three categories: Low Spender, Medium Spender, and High Spender. This will help in understanding the spending behavior of customers.

    ##Define spending categories as: Low Spender (< $500), Medium Spender ($500-$2000), and High Spender (> $2000).
    ##Use CASE WHEN to categorize customers based on their total spending.


%%sql

SELECT
  customerkey,
  SUM (netprice*quantity*exchangerate) as total_purchases,
  CASE
    WHEN SUM (netprice*quantity*exchangerate) <500 THEN 'low_spender'
    WHEN SUM (netprice*quantity*exchangerate) BETWEEN 500 and 2000 THEN 'medium_spender'
    ELSE 'high_spender'
  END as customer_classification

FROM sales
WHERE EXTRACT (YEAR from orderdate) = 2023
GROUP BY customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

13746 rows affected.

       customerkey  total_purchases customer_classification
0              180          1984.90          medium_spender
1              387          1019.74          medium_spender
2              545          3551.47            high_spender
3              649          1749.11          medium_spender
4              688         16909.04            high_spender
...            ...              ...                     ...
13741      2099174           299.00             low_spender
13742      2099336           358.88             low_spender
13743      2099511          2856.02            high_spender
13744      2099656          8328.22            high_spender
13745      2099743           598.46          medium_spender

[13746 rows x 3 columns]